In [2]:
import numpy as np 
import pandas as pd

In [3]:
data = pd.read_csv('playtennis.csv')
data.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [4]:
X = data.iloc[:,:-1]
X.head()

    Outlook Temperature Humidity    Wind
0     Sunny         Hot     High    Weak
1     Sunny         Hot     High  Strong
2  Overcast         Hot     High    Weak
3      Rain        Mild     High    Weak
4      Rain        Cool   Normal    Weak

In [5]:
Y = data.iloc[:,4]
Y.head()

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: Play Tennis, dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
labelencoder_x = LabelEncoder()

In [8]:
X = X.apply(LabelEncoder().fit_transform)
X

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
1         2            1         0     0
2         0            1         0     1
3         1            2         0     1
4         1            0         1     1
5         1            0         1     0
6         0            0         1     0
7         2            2         0     1
8         2            0         1     1
9         1            2         1     1
10        2            2         1     0
11        0            2         0     0
12        0            1         1     1
13        1            2         0     0

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
model = DecisionTreeClassifier()

In [11]:
model.fit(X.iloc[:,0:4], Y)

DecisionTreeClassifier()

เอาข้อมูลไหม่่มาเทียบกับที่ Encoder ไว้

In [13]:
X1 = np.array([0,1,0,1])
X2 = np.array([2,0,0,0])
X3 = np.array([1,2,1,1])

In [14]:
y1 = model.predict([X1])
y2 = model.predict([X2])
y3 = model.predict([X3])
print(y1)
print(y2)
print(y3)

['Yes']
['No']
['Yes']